- name: Install lftp
  run: sudo apt-get update && sudo apt-get install -y lftp

- name: Deploy via FTP mirror
  env:
    FTP_HOST: ${{ secrets.FTP_HOST }}
    FTP_USER: ${{ secrets.FTP_USER }}
    FTP_PASS: ${{ secrets.FTP_PASS }}
    FTP_DIR:  ${{ secrets.FTP_DIR }}
  run: |
    lftp -u "$FTP_USER","$FTP_PASS" ftp://$FTP_HOST <<EOF
    set ftp:ssl-allow no
    mirror -R \
      --delete \
      --verbose \
      --exclude .git/ \
      --exclude .github/ \
      --exclude node_modules/ \
      --exclude .env \
      ./ $FTP_DIR
    quit
    EOF
